<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客户信息</title>
    <link rel="shortcut icon" href="#"/>

    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../css/sweetalert.css">
    <script type="text/javascript" src="../js/sweetalert-dev.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/customerInfo.js"></script>
    <script type="text/javascript" src="../js/tableExport.js"></script>
</head>
<body class="pt-2">
<div class="top-toolbar row">
    <div class="col-md-3 mb-2">
        <input id="customer" type="text" class="form-control" placeholder="客户或字母代码" autocomplete="off">
    </div>
    <div class="col-md-3 mb-2">
        <select id="leibie" name="leibie" class="form-control" autocomplete="off" data-required="1" >
            <option value=""></option>
        </select>
    </div>
    <div class="col-md-3 mb-2">
        <select id="area" name="area" class="form-control" autocomplete="off" data-required="1">
            <option value=""></option>
        </select>
    </div>
    <div class="col-md-2 mb-2">
        <button id="select-btn" class="btn btn-primary">
            <i class="bi bi-search icon"></i>
            查询
        </button>
    </div>
</div>

<div id="table-toolbar">
    <div class="btn-group" role="group">
        <button id="refresh-btn" class="btn btn-primary">
            <i class="bi bi-arrow-clockwise icon"></i>
            刷新
        </button>
        <button id="add-btn" class="btn btn-primary">
            <i class="bi bi-plus-square icon"></i>
            新增
        </button>
        <button id="update-btn" class="btn btn-primary">
            <i class="bi bi-pencil-square icon"></i>
            修改
        </button>
        <button id="delete-btn" class="btn btn-primary">
            <i class="bi bi-trash icon"></i>
            删除
        </button>
        <button id="import-btn" class="btn btn-primary">
            <i class="bi bi-arrow-bar-up"></i>
            导入Excel
        </button>
        <button id="export-btn" class="btn btn-primary" onClick ="$('#customerTable').tableExport({ type: 'excel', escape: 'false' })">
            <i class="bi bi-file-earmark-spreadsheet"></i>
            导出Excel
        </button>
        <a class="btn btn-primary" style="color: white;padding-top: 8px">当前页：客户信息</a>
    </div>
</div>
<input type="file" id="file" hidden="hidden">
<input type="file" id="file2" hidden="hidden">

<div class="table-div border-top">
    <table id="customerTable"></table>
</div>

<div id="add-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">录入</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="add-form" class="needs-validation">
                    <div class="form-group">
                        <label for="add-customerNum">客户号</label>
                        <input id="add-customerNum" name="customerNum" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-area">区域</label>
                        <select id="add-area" name="area" class="form-control" autocomplete="off" data-required="1">

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="add-leibie">客户类别</label>
                        <select id="add-leibie" name="leibie" class="form-control" autocomplete="off" data-required="1">

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="add-customer">客户名称</label>
                        <input id="add-customer" name="customer" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入客户名称！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-pinyin">字母代码</label>
                        <input id="add-pinyin" name="pinyin" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-salesman">业务员</label>
                        <input id="add-salesman" name="salesman" type="text" class="form-control" autocomplete="off" >
                        <div class="invalid-feedback">
                            请输入业务员！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-price">价格</label>
                        <input id="add-price" name="price" type="text" class="form-control" autocomplete="off" >
                        <div class="invalid-feedback">
                            请输入价格！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-phone">联系电话</label>
                        <input id="add-phone" name="phone" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-ghye">往期购货余额</label>
                        <input id="add-ghye" name="ghye" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-zsye">往期赠送余额</label>
                        <input id="add-zsye" name="zsye" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-address">收货地址</label>
                        <input id="add-address" name="address" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-remarks">备注</label>
                        <input id="add-remarks" name="remarks" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="add-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="update-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">编辑</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-form" class="needs-validation">
                    <div class="form-group">
                        <input id="id" name="id" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="update-customerNum">客户号</label>
                        <input id="update-customerNum" name="customerNum" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-area">区域</label>
                        <select id="update-area" name="area" class="form-control" autocomplete="off" >

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="update-leibie">客户类别</label>
                        <select id="update-leibie" name="leibie" class="form-control" autocomplete="off" data-required="1">

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="update-customer">客户名称</label>
                        <input id="update-customer" name="customer" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入客户名称！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update-pinyin">字母代码</label>
                        <input id="update-pinyin" name="pinyin" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-salesman">业务员</label>
                        <input id="update-salesman" name="salesman" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入业务员！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update-price">价格</label>
                        <input id="update-price" name="price" type="text" class="form-control" autocomplete="off" >
                        <div class="invalid-feedback">
                            请输入价格！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update-phone">联系电话</label>
                        <input id="update-phone" name="phone" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-address">收货地址</label>
                        <input id="update-address" name="address" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-ghye">往期购货余额</label>
                        <input id="update-ghye" name="ghye" type="number" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-zsye">往期赠送余额</label>
                        <input id="update-zsye" name="zsye" type="number" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-remarks">备注</label>
                        <input id="update-remarks" name="remarks" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="update-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="update-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">提示</div>
            </div>
            <div id="delete-modal-body" class="modal-body">
                确定删除吗？
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="delete-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="delete-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>

<!--    查询窗体-->
<div id="show-file-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">文件操作</div>
            </div>
            <div class="modal-body">
                <table id="show-table-file"></table>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="file-up-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    上传
                </button>
                <button id="file-down-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-arrow-bar-down"></i>
                    下载
                </button>
                <button id="file-delete-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-trash icon"></i>
                    删除
                </button>
                <button id="file-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>