<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>常规设置</title>
    <link rel="shortcut icon" href="#"/>

    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../css/sweetalert.css">
    <script type="text/javascript" src="../js/sweetalert-dev.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/general.js"></script>
</head>
<body class="pt-2">
<!--<div class="top-toolbar row">-->
<!--    <div class="col-md-3 mb-2">-->
<!--        <input id="name" type="text" class="form-control" placeholder="姓名" autocomplete="off">-->
<!--    </div>-->
<!--    <div class="col-md-3 mb-2">-->
<!--        <input id="department" type="text" class="form-control" placeholder="部门" autocomplete="off">-->
<!--    </div>-->
<!--    <div class="col-md-2 mb-2">-->
<!--        <button id="select-btn" class="btn btn-primary">-->
<!--            <i class="bi bi-search icon"></i>-->
<!--            查询-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->

<div id="table-toolbar">
    <div class="btn-group" role="group">
        <button id="refresh-btn" class="btn btn-primary">
            <i class="bi bi-arrow-clockwise icon"></i>
            刷新
        </button>
        <button id="add-btn" class="btn btn-primary">
            <i class="bi bi-plus-square icon"></i>
            新增
        </button>
<!--        <button id="update-btn" class="btn btn-primary">-->
<!--            <i class="bi bi-pencil-square icon"></i>-->
<!--            修改-->
<!--        </button>-->
        <button id="delete-btn" class="btn btn-primary">
            <i class="bi bi-trash icon"></i>
            删除
        </button>
        <a class="btn btn-primary" style="color: white;padding-top: 8px">当前页：常规设置</a>
    </div>
</div>

<div id="upd_1" class="alert alert-success alert-dismissible" hidden="hidden" style="float:right;margin-bottom: 0;margin-top: 20px;margin-right: 10px;">
    <strong>保存成功!</strong>
</div>
<div id="upd_2" class="alert alert-danger alert-dismissible"  hidden="hidden" style="float:right;margin-bottom: 0;margin-top: 20px;margin-right: 10px;">
    <strong>保存失败!</strong>
</div>

<div class="table-div border-top">
    <table id="generalTable"></table>
</div>

<div id="add-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">录入</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="add-form" class="needs-validation">
                    <div class="form-group">
                        <label for="add-saleName">销售人员名称</label>
                        <input id="add-saleName" name="saleName" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-testName">化验人员名称</label>
                        <input id="add-testName" name="testName" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-express">快递方式</label>
                        <input id="add-express" name="express" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-pick">客户拿货方式</label>
                        <input id="add-pick" name="pick" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-pay">付款方式</label>
                        <input id="add-pay" name="pay" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-warehouse">付款方式</label>
                        <input id="add-warehouse" name="warehouse" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-department">部门</label>
                        <input id="add-department" name="department" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-customerType">客户类别</label>
                        <input id="add-customerType" name="customerType" class="form-control" autocomplete="off" data-required="1">
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="add-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="update-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">编辑</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-form" class="needs-validation">
                    <div class="form-group">
                        <input id="id" name="id" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="update-saleName">销售人员名称</label>
                        <input id="update-saleName" name="saleName" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-testName">化验人员名称</label>
                        <input id="update-testName" name="testName" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-express">快递方式</label>
                        <input id="update-express" name="express" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-pick">客户拿货方式</label>
                        <input id="update-pick" name="pick" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-pay">付款方式</label>
                        <input id="update-pay" name="pay" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-warehouse">仓库</label>
                        <input id="update-warehouse" name="warehouse" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-department">部门</label>
                        <input id="update-department" name="department" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-customerType">客户类别</label>
                        <input id="update-customerType" name="customerType" class="form-control" autocomplete="off" data-required="1">
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="update-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="update-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">提示</div>
            </div>
            <div id="delete-modal-body" class="modal-body">
                确定删除吗？
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="delete-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="delete-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>