<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发票</title>
    <link rel="shortcut icon" href="#"/>

    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../css/sweetalert.css">
    <script type="text/javascript" src="../js/sweetalert-dev.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/invoice.js"></script>
    <script type="text/javascript" src="../js/tableExport.js"></script>
</head>
<body class="pt-2">
<div class="top-toolbar row">
    <div class="col-md-3 mb-2">
        <input id="customer" type="text" class="form-control" placeholder="客户或字母代码" autocomplete="off">
    </div>
    <div class="col-md-3 mb-2">
        <input id="unit" type="text" class="form-control" placeholder="开票单位" autocomplete="off">
    </div>
    <div class="col-md-3 mb-2">
        <input id="unit1" type="text" class="form-control" placeholder="发票号码" autocomplete="off">
    </div>
    <div class="col-md-2 mb-2">
        <button id="select-btn" class="btn btn-primary">
            <i class="bi bi-search icon"></i>
            查询
        </button>
    </div>
</div>

<div id="table-toolbar">
    <div class="btn-group" role="group">
        <button id="refresh-btn" class="btn btn-primary">
            <i class="bi bi-arrow-clockwise icon"></i>
            刷新
        </button>
        <button id="add-btn" class="btn btn-primary">
            <i class="bi bi-plus-square icon"></i>
            新增
        </button>
        <button id="update-btn" class="btn btn-primary">
            <i class="bi bi-pencil-square icon"></i>
            修改
        </button>
        <button id="delete-btn" class="btn btn-primary">
            <i class="bi bi-trash icon"></i>
            删除
        </button>
        <button id="export-btn" class="btn btn-primary" onClick ="toExcel()">
            <i class="bi bi-file-earmark-spreadsheet"></i>
            导出Excel
        </button>
        <a class="btn btn-primary" style="color: white;padding-top: 8px">当前页：发票</a>
    </div>
</div>

<div class="table-div border-top">
    <table id="invoiceTable"></table>
</div>

<div id="add-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">录入</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="add-form" class="needs-validation">
                    <div class="form-group">
                        <label for="add-riqi">日期</label>
                        <input id="add-riqi" name="riqi" type="date" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input id="add-customerId" name="customerId" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="add-thebillingnumber">发票号码</label>
                        <input id="add-thebillingnumber" name="thebillingnumber" type="text" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-shuihao">税号</label>
                        <input id="add-shuihao" name="shuihao" type="text" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-customer">客户</label>
                        <input id="add-customer" type="text" class="form-control" autocomplete="off"
                               readonly="readonly">
                        <div class="invalid-feedback">
                            请选择客户！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-unit">开票单位</label>
                        <input id="add-unit" name="unit" type="text" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-address">单位地址</label>
                        <input id="add-address" name="address" type="text" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-phone">电话号码</label>
                        <input id="add-phone" name="phone" type="text" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-yinhang">开户银行</label>
                        <input id="add-yinhang" name="yinhang" type="text" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-zhanghu">银行账户</label>
                        <input id="add-zhanghu" name="zhanghu" type="text" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-nameofarticle">品名</label>
<!--                        <select id="add-nameofarticle" name="nameofarticle" class="form-control">-->

<!--                        </select>-->

                        <input id="add-nameofarticle" name="nameofarticle" type="text" class="form-control" autocomplete="off"
                               data-required="1" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="add-unitprice">单价</label>
                        <input id="add-unitprice" name="unitprice" type="text" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-jine">开票金额</label>
                        <input id="add-jine" name="jine" type="number" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-remarks">备注</label>
                        <input id="add-remarks" name="remarks" type="text" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="add-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="update-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">编辑</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-form" class="needs-validation">
                    <div class="form-group">
                        <input id="id" name="id" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="update-riqi">日期</label>
                        <input id="update-riqi" name="riqi" type="date" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请选择日期！
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="update-customerId" name="customerId" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="update-thebillingnumber">发票号码</label>
                        <input id="update-thebillingnumber" name="thebillingnumber" type="text" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-shuihao">税号</label>
                        <input id="update-shuihao" name="shuihao" type="text" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-customer">客户</label>
                        <input id="update-customer" type="text" class="form-control" autocomplete="off"
                               readonly="readonly">
                        <div class="invalid-feedback">
                            请选择客户！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update-unit">开票单位</label>
                        <input id="update-unit" name="unit" type="text" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-address">单位地址</label>
                        <input id="update-address" name="address" type="text" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-phone">电话号码</label>
                        <input id="update-phone" name="phone" type="text" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-yinhang">开户银行</label>
                        <input id="update-yinhang" name="yinhang" type="text" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-zhanghu">银行账户</label>
                        <input id="update-zhanghu" name="zhanghu" type="text" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-nameofarticle">品名</label>
<!--                        <select id="update-nameofarticle" name="nameofarticle" class="form-control">-->

<!--                        </select>-->
                            <input id="update-nameofarticle" name="nameofarticle" type="text" class="form-control" autocomplete="off"
                                   data-required="1" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="update-unitprice">单价</label>
                        <input id="update-unitprice" name="unitprice" type="text" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-jine">开票金额</label>
                        <input id="update-jine" name="jine" type="number" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-remarks">备注</label>
                        <input id="update-remarks" name="remarks" type="text" class="form-control" autocomplete="off"
                               data-required="1">
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="update-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="update-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">提示</div>
            </div>
            <div id="delete-modal-body" class="modal-body">
                确定删除吗？
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="delete-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="delete-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>

<!--    查询客户窗体-->
<div id="show-customer-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">选择客户</div>
            </div>
            <div class="modal-body">
                <input id="showCustomerId" type="hidden"/>
                <table id="show-table-customer"></table>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="customer-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="customer-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<!--    查询产品窗体-->
<div id="show-product-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" style="max-width: 1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">选择产品</div>
            </div>
            <div class="modal-body" style="max-height: 800px">
                <table id="show-table-product"></table>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="product-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="product-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>