<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品设置</title>
    <link rel="shortcut icon" href="#"/>

    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../css/sweetalert.css">
    <script type="text/javascript" src="../js/sweetalert-dev.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/product.js"></script>

</head>
<body class="pt-2">
<div class="top-toolbar row">
    <div class="col-md-3 mb-2">
        <input id="query" type="text" class="form-control" placeholder="产品名称或拼音简码" autocomplete="off">
    </div>
    <div class="col-md-2 mb-2">
        <button id="select-btn" class="btn btn-primary">
            <i class="bi bi-search icon"></i>
            查询
        </button>
    </div>
</div>

<div id="table-toolbar">
    <div class="btn-group" role="group">
        <button id="refresh-btn" class="btn btn-primary">
            <i class="bi bi-arrow-clockwise icon"></i>
            刷新
        </button>
        <button id="add-btn" class="btn btn-primary">
            <i class="bi bi-plus-square icon"></i>
            新增
        </button>
        <button id="update-btn" class="btn btn-primary">
            <i class="bi bi-pencil-square icon"></i>
            修改
        </button>
        <button id="delete-btn" class="btn btn-primary">
            <i class="bi bi-trash icon"></i>
            删除
        </button>
        <a class="btn btn-primary" style="color: white;padding-top: 8px">当前页：产品设置</a>
    </div>
</div>

<div class="table-div border-top">
    <table id="productTable"></table>
</div>

<div id="add-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">录入</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="add-form" class="needs-validation">
                    <div class="form-group">
                        <label for="add-productName">产品名称</label>
                        <input id="add-productName" name="productName" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入产品名称！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-spec">规格型号</label>
                        <input id="add-spec" name="spec" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入规格型号！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-unit">单位</label>
                        <input id="add-unit" name="unit" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-price">零售价</label>
                        <input id="add-price" name="price" type="number" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-pinyin">拼音简码</label>
                        <input id="add-pinyin" name="pinyin" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-pinhao">品号</label>
                        <input id="add-pinhao" name="pinhao" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="add-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="update-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">编辑</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-form" class="needs-validation">
                    <div class="form-group">
                        <input id="id" name="id" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="update-productName">产品名称</label>
                        <input id="update-productName" name="productName" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入产品名称！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update-spec">规格型号</label>
                        <input id="update-spec" name="spec" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入规格型号！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update-unit">单位</label>
                        <input id="update-unit" name="unit" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-price">零售价</label>
                        <input id="update-price" name="price" type="number" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-pinyin">拼音简码</label>
                        <input id="update-pinyin" name="pinyin" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-pinhao">品号</label>
                        <input id="update-pinhao" name="pinhao" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="update-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="update-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">提示</div>
            </div>
            <div id="delete-modal-body" class="modal-body">
                确定删除吗？
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="delete-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="delete-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>