<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账号管理</title>
    <link rel="shortcut icon" href="#"/>

    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../css/sweetalert.css">
    <script type="text/javascript" src="../js/sweetalert-dev.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/userInfo.js"></script>
</head>

<body class="pt-2">
<div class="top-toolbar row">
    <div class="col-md-3 mb-2">
        <input id="name" type="text" class="form-control" placeholder="姓名" autocomplete="off">
    </div>
    <div class="col-md-3 mb-2">
        <input id="department" type="text" class="form-control" placeholder="部门" autocomplete="off">
    </div>
    <div class="col-md-2 mb-2">
        <button id="select-btn" class="btn btn-primary">
            <i class="bi bi-search icon"></i>
            查询
        </button>
    </div>
</div>

<div id="table-toolbar">
    <div class="btn-group" role="group">
        <button id="refresh-btn" class="btn btn-primary">
            <i class="bi bi-arrow-clockwise icon"></i>
            刷新
        </button>
        <button id="add-btn" class="btn btn-primary">
            <i class="bi bi-plus-square icon"></i>
            新增
        </button>
        <button id="update-btn" class="btn btn-primary">
            <i class="bi bi-pencil-square icon"></i>
            修改
        </button>
        <button id="delete-btn" class="btn btn-primary">
            <i class="bi bi-trash icon"></i>
            删除
        </button>
        <a class="btn btn-primary" style="color: white;padding-top: 8px">当前页：账号管理</a>
    </div>
</div>

<div class="table-div border-top">
    <table id="userTable"></table>
</div>

<div id="add-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">录入</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="add-form" class="needs-validation">
                    <div class="form-group">
                        <label for="add-username">用户名</label>
                        <input id="add-username" name="username" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入用户名！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-password">密码</label>
                        <input id="add-password" name="password" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入密码！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-power">权限</label>
                        <select id="add-power" name="power" class="form-control" autocomplete="off">
                            <option value="管理员">管理员</option>
                            <option value="其他">其他</option>
                            <option value="审核人">审核人</option>
                        </select>
                        <div class="invalid-feedback">
                            请选择权限！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-name">姓名</label>
                        <input id="add-name" name="name" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入姓名！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-department">部门</label>
                        <select id="add-department" name="department" class="form-control" autocomplete="off"></select>
                        <div class="invalid-feedback">
                            请选择部门！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-stateUpd">能否修改审核通过数据</label>
                        <select id="add-stateUpd" name="stateUpd" class="form-control"
                                autocomplete="off" data-required="1">
                            <option></option>
                            <option>是</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="add-moneySel">能否查看销售单价金额</label>
                        <select id="add-moneySel" name="moneySel" class="form-control"
                                autocomplete="off" data-required="1">
                            <option></option>
                            <option>是</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="add-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="update-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">编辑</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-form" class="needs-validation">
                    <div class="form-group">
                        <input id="id" name="id" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="update-username">用户名</label>
                        <input id="update-username" name="username" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-password">密码</label>
                        <input id="update-password" name="password" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-power">权限</label>
                        <select id="update-power" name="power" class="form-control" autocomplete="off">
                            <option value="管理员">管理员</option>
                            <option value="审核人">审核人</option>
                            <option value="其他">其他</option>
                        </select>
                        <div class="invalid-feedback">
                            请选择权限！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update-name">姓名</label>
                        <input id="update-name" name="name" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入姓名！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update-department">部门</label>
                        <select id="update-department" name="department" class="form-control"
                                autocomplete="off"></select>
                        <div class="invalid-feedback">
                            请选择部门！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update-stateUpd">能否修改审核通过数据</label>
                        <select id="update-stateUpd" name="stateUpd" class="form-control"
                                autocomplete="off" data-required="1">
                            <option></option>
                            <option>是</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="update-moneySel">能否查看销售单价金额</label>
                        <select id="update-moneySel" name="moneySel" class="form-control"
                                autocomplete="off" data-required="1">
                            <option></option>
                            <option>是</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="update-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="update-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">提示</div>
            </div>
            <div id="delete-modal-body" class="modal-body">
                确定删除吗？
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="delete-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="delete-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>